<article>
    <header>
        <h2><a href="{{ path('store_showproduct', {slug: product.slug}) }}"> {{ product.name }}</a></h2>
    </header>
    <p class="desk">{{ product.description | truncate(400) }}</p>
    <p>{{ product.price }} UAN</p>
    <a href="{{ path('store_showproduct', {slug: product.slug}) }}">{{ 'read.more' | trans }}</a>
</article>